* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.6;
  font-weight: 390;
  font-size: 19px;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
